
body {
  padding: 5px;
  margin-bottom: 50px;
  background-image: url(../utils/images/Untitled.png);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* neonbanner */

.neonText {
  font-family: "Sacramento", sans-serif;
  font-size: 45px;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #4db6ac,
    0 0 82px #4db6ac, 0 0 92px #4db6ac, 0 0 102px #4db6ac, 0 0 151px #4db6ac;
}
.neonBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #4db6ac,
    0 0 0.8rem #4db6ac, 0 0 2.8rem #4db6ac, inset 0 0 1.3rem #4db6ac;
  color: #fff;
  width: 23rem;
  height: 20rem;
}
/* nvabar */
a {
  color: #f2f2f2;
  text-decoration: none;
}

nav {
  padding: 2px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4db6ac;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
nav a {
  margin-left: 12px;
}
nav a:hover {
  color: #4db6ac;
}
nav .logo {
  align-self: flex-start;
}

.menuActive {
  font-weight: bold;
  color: #4db6ac;
}
.logoActive {
  color: #f2f2f2;
}
nav .menuOptions {
  margin-right: 12px;
  margin-left: auto;
}

/* mobilenav */

.fixedNav {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #4db6ac;
}

/* userlogo */

.userLogo {
  display: flex;
  justify-content: flex-end;
  border-radius: 20%;
  padding: 7px;
}

/* dasboard */
.dasboardMaster {
  border: 1px solid rgb(184, 183, 183);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) brightness(130%);
  /* box-shadow: 0 0 1rem 0 rgba(221, 218, 218, 0.2); */
  border-radius: 10px;
}
.logoName {
  margin-left: 10px;
}
.logoDash {
  margin-left: 10px;
  color: #4db6ac;
}
.entryBackground {
  background-image: url(../utils/images/1407238-full.jpg);
}

/* diet */

.dietDiv{ 
  border: 1px solid rgb(184, 183, 183);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  /* box-shadow: 0 0 1rem 0 rgba(221, 218, 218, 0.2); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.foodcard{
  padding: 10px; 
}

/* signin */
.siginlayout{
  margin-top: 10%;
}

/* signup */
.siguplayout{
  margin-top: 10%;
}
